server.port=8086

adsbrecorder.report.data_root=# root folder for data files
adsbrecorder.report.output_root=# root folder for report output files
adsbrecorder.report.tmpl_root=# root folder for report template files
adsbrecorder.report.fop.conf=# path to fop.xconf

debug=true
